<!-- <div>
    <input type="textbox" [(ngModel)]='masterName'>
    <button (click)="sendToParent(masterName)">sendToParent</button>
    <div>{{masterName}}</div>
</div> -->


<div class="transtionAll">
    <div class="gridProduct">
        <a class="wishlist">
            <img *ngIf="!products.wishlist" (click)="addWishlist(products.productID)" src="../../assets/images/heart_white.png">
            <img *ngIf="products.wishlist" (click)="deleteWishlist(products.productID)" src="../../assets/images/heart_red.png">
        </a>
        <a class="ProductClick" (click)="gotoProductDesc(products.productName,products.productID)">
            <img *ngIf="imagePreview == '' " src="../../assets/images/product/1.jpg">
            <img *ngIf="imagePreview != '' " src="{{imagePreview}}">
        </a>
        <div class="productDesc">
            <div class="descProduct">
                <h4 matTooltip="{{products.productName}}">{{products.productName}}</h4>
                <p>{{products.productDescription | slice:0:50}}...</p>
            </div>
            <div class="fewLeftproduct" *ngIf="products.productCount < 4 && products.productCount > 0">
                ! hurry few left
            </div>
            <div class="outStackproduct" *ngIf="products.productCount == 0">
                Out of Stock
            </div>
            <div class="priceGrid">
                <div class="fewLeftproduct" *ngIf="products.productCount < 4 && products.productCount > 0">
                    ! hurry few left
                </div>
                <div class="outStackproduct" *ngIf="products.productCount == 0">
                    Out of Stock
                </div>
                <div class="weightKG">{{products.productWeight}}</div>
                <span class="price" *ngIf="!products.productOfferPercent || products.productOfferPercent == 0">{{products.productRateSymbol}} {{products.productRate}}</span>
                <span class="offerPrice" *ngIf="products.productOfferPercent && products.productOfferPercent > 0"> 
                <span class="offerPriceCrash"> {{products.productRateSymbol}}{{products.productRate}}</span>
                <span class="per"> {{products.productOfferPercent}}% off </span>
                <span class="priceOfferGreen"> {{products.productRateSymbol}}{{(products.productRate - (products.productOfferPercent * products.productRate / 100)).toFixed(0)}}</span>
                </span>
            </div>
            <div class="priceCount">
                <div class="count" *ngIf="countBoolean">
                    <button (click)="countClick(0,products.productID)">-</button>
                    <input type="text" (keypress)="numberOnly($event)" [(ngModel)]="cartNumber">
                    <button (click)="countClick(1,products.productID)">+</button>
                </div>
                <button *ngIf="!countBoolean" (click)="addToCartBtn(products.productID)" class="btn btn-danger btn-sm add">ADD TO CART</button>
            </div>
        </div>
    </div>
</div>