<!-- <div>
    <input type="textbox" [(ngModel)]='masterName'>
    <button (click)="sendToParent(masterName)">sendToParent</button>
    <div>{{masterName}}</div>
</div> -->


<div class="transtionAll" [ngClass]="{'col-md-4': list == 'grid', 'col-md-12 listViews': list == 'list'}">
    <div class="gridProduct">
        <a class="wishlist">
            <img *ngIf="!products.wishlist" (click)="addWishlist(products.productID)" src="../../assets/images/heart_white.png">
            <img *ngIf="products.wishlist" (click)="deleteWishlist(products.productID)" src="../../assets/images/heart_red.png">
        </a>
        <a class="ProductClick" (click)="gotoProductDesc(products.productName,products.productID)">
            <img *ngIf="imagePreview == '' " src="../../assets/images/product/1.jpg">
            <img *ngIf="imagePreview != '' " src="{{imagePreview}}">
        </a>
        <div class="productDesc" (click)="gotoProductDesc(products.productName,products.productID)">
            <div class="descProduct">
                <h4 matTooltip="{{products.productName}}">{{products.productName}}</h4>
                <p>{{products.productDescription | slice:0:50}}...</p>
            </div>
            <div class="fewLeftproduct" *ngIf="products.productCount < 4 && products.productCount > 0">
                ! hurry few left
            </div>
            <div class="outStackproduct" *ngIf="products.productCount == 0">
                Out of Stock
            </div>
            <div class="priceGrid">
                <div class="fewLeftproduct" *ngIf="products.productCount < 4 && products.productCount > 0">
                    ! hurry few left
                </div>
                <div class="outStackproduct" *ngIf="products.productCount == 0">
                    Out of Stock
                </div>
                <div class="weightKG">{{products.productWeight}}</div>
                <span class="price" *ngIf="!products.productOfferPercent || products.productOfferPercent == 0">{{products.productRateSymbol}} {{products.productRate}}</span>
                <span class="offerPrice" *ngIf="products.productOfferPercent && products.productOfferPercent > 0"> 
                <span class="offerPriceCrash"> {{products.productRateSymbol}}{{products.productRate}}</span>
                <span class="per"> {{products.productOfferPercent}}% off </span>
                <span class="priceOfferGreen"> {{products.productRateSymbol}}{{(products.productRate - (products.productOfferPercent * products.productRate / 100)).toFixed(0)}}</span>
                </span>
            </div>
        </div>
    </div>
</div>