<div class="paddTop">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card m-3">
                    <h5 class="card-header highlight text-center">Add New Branch Admin</h5>
                    <div class="card-body">
                        <form [formGroup]="registerForm" class="container" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" formControlName="name" maxlength="20" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" formControlName="email" maxlength="30" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input [type]="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <a class="pwdEye" (click)="onClick()">
                                            <ion-icon name="eye" *ngIf="!show"></ion-icon>
                                            <ion-icon name="eye-off" *ngIf="show"></ion-icon>
                                        </a>
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input type="text" formControlName="phonenumber" class="form-control" maxlength="11" minlength="10" (keyup)="branchAdminExist($event.target.value)" [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }" />
                                        <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
                                            <div *ngIf="f.phonenumber.errors.required">Phone Number</div>
                                        </div>
                                        <div *ngIf="phoneBoolean" style="display:block" class="invalid-feedback">
                                            <div>This Mobile Number Already Exist.</div>
                                        </div>
                                        <div class="invalid-feedback" style="display: block;" *ngIf="existBoolean">
                                            This Phone number Already Exist.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Alternate Phone Number</label>
                                        <input type="text" formControlName="alternatenumber" maxlength="11" minlength="11" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.alternatenumber.errors }" />
                                        <div *ngIf="submitted && f.alternatenumber.errors" class="invalid-feedback">
                                            <div *ngIf="f.alternatenumber.errors.required">Enter your Alternate Phone number</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>branchname</label>
                                        <input type="text" formControlName="branchname" maxlength="20" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.branchname.errors }" />
                                        <div *ngIf="submitted && f.branchname.errors" class="invalid-feedback">
                                            <div *ngIf="f.branchname.errors.required">Enter your Branch name</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>address</label>
                                        <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                            <div *ngIf="f.address.errors.required">Enter your Address</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <select formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                          <option value="">Select</option>
                                          <option value="Mr">Male</option>
                                          <option value="Mrs">Female</option>
                                      </select>
                                        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                            <div *ngIf="f.gender.errors.required">Select your gender</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="aadharid" class="uploadPreImg">AADHAAR<span class="star">*</span>
                                            <img src="../../../assets/images/spkpreview.jpg">
                                            <input id="aadharid" type="file" (change)="fileChangeEvent($event)" formControlName="aadhar" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aadhar.errors }" />
                                        </label>

                                        <div class="croppedPreview">
                                            <image-cropper style="max-width:220px" [imageChangedEvent]="imageChangedEvent" [resizeToWidth]="200" [maintainAspectRatio]="true" [aspectRatio]="3 / 2" [resizeToHeight]="150" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                                                (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()" [imageBase64]="imageBase64String"></image-cropper>
                                            <img [src]="croppedImage" />
                                        </div>
                                        <div *ngIf="submitted && f.aadhar.errors" class="invalid-feedback">
                                            <div *ngIf="f.aadhar.errors.required">Upload your Aadhar Proof</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="profileId" class="uploadPreImg">Profile<span class="star">*</span>
                                            <img src="../../../assets/images/spkpreview.jpg">
                                            <input id="profileId" type="file" (change)="fileChangeProfileEvent($event)" formControlName="profile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.profile.errors }" />
                                        </label>
                                        <div class="croppedPreview">
                                            <image-cropper style="max-width:200px;" [imageChangedEvent]="imageChangedProfileEvent" [resizeToWidth]="150" [maintainAspectRatio]="true" [aspectRatio]="3 / 3" [resizeToHeight]="150" format="png" (imageCropped)="imageProfileCropped($event)" (imageLoaded)="imageLoaded()"
                                                (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()" [imageBase64]="imageBase64String"></image-cropper>
                                            <img [src]="croppedProfileImage" />
                                        </div>
                                        <div *ngIf="submitted && f.profile.errors" class="invalid-feedback">
                                            <div *ngIf="f.profile.errors.required">Please upload your profile</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>location</label>
                                        <select formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
                                            <option value="">Select</option>
                                            <option [value]="loc.id" *ngFor="let loc of getLocation">{{loc.locationName}}</option>
                                        </select>
                                        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                                            <div *ngIf="f.location.errors.required">Location is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select formControlName="status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                                            <option value="">Select</option>
                                            <option [value]="0">Activate</option>
                                            <option [value]="1">De Activate</option>
                                        </select>
                                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                            <div *ngIf="f.status.errors.required">Status is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button class="btn btn-danger btn-sm mr-1">Register</button>
                                        <button class="btn btn-secondary btn-sm" type="reset" (click)="onReset()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>