<div class="paddTop">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card m-3">
                    <h5 class="card-header highlight text-center">Add New Branch Admin</h5>
                    <div class="card-body">
                        <form [formGroup]="registerForm" class="container" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" formControlName="name" [(ngModel)]="branchAdmin.name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" formControlName="email" [(ngModel)]="branchAdmin.email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" formControlName="password" [(ngModel)]="branchAdmin.password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input type="text" formControlName="phonenumber" [(ngModel)]="branchAdmin.phonenumber" class="form-control" (keyup)="branchAdminExist($event)" [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }" />
                                        <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
                                            <div *ngIf="f.phonenumber.errors.required">Phone Number</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Alternate Phone Number</label>
                                        <input type="text" formControlName="alternatenumber" [(ngModel)]="branchAdmin.alternatenumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.alternatenumber.errors }" />
                                        <div *ngIf="submitted && f.alternatenumber.errors" class="invalid-feedback">
                                            <div *ngIf="f.alternatenumber.errors.required">Enter your Alternate Phone number</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>branchname</label>
                                        <input type="text" formControlName="branchname" [(ngModel)]="branchAdmin.branchname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.branchname.errors }" />
                                        <div *ngIf="submitted && f.branchname.errors" class="invalid-feedback">
                                            <div *ngIf="f.branchname.errors.required">Enter your Branch name</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>address</label>
                                        <input type="text" formControlName="address" [(ngModel)]="branchAdmin.address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                            <div *ngIf="f.address.errors.required">Enter your Address</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <select formControlName="gender" class="form-control" [(ngModel)]="branchAdmin.gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                        <option value="">Select</option>
                                        <option value="Mr">Male</option>
                                        <option value="Mrs">Female</option>
                                    </select>
                                        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                            <div *ngIf="f.gender.errors.required">Select your gender</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Aadhar</label>
                                        <input type="file" (change)="fileChangeEvent($event)" [(ngModel)]="branchAdmin.aadhar" formControlName="aadhar" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aadhar.errors }" />
                                        <image-cropper [imageChangedEvent]="imageChangedEvent" [resizeToWidth]="150" [maintainAspectRatio]="true" [aspectRatio]="3 / 3" [resizeToHeight]="150" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                                            (loadImageFailed)="loadImageFailed()" [imageBase64]="imageBase64String"></image-cropper>
                                        <img [src]="croppedImage" />
                                        <div *ngIf="submitted && f.aadhar.errors" class="invalid-feedback">
                                            <div *ngIf="f.aadhar.errors.required">Upload your Aadhar Proof</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Profile</label>
                                        <input type="file" formControlName="profile" [(ngModel)]="branchAdmin.profile" (change)="fileChangeProfileEvent($event)" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.profile.errors }" />
                                        <image-cropper [imageChangedEvent]="imageChangedProfileEvent" [resizeToWidth]="150" [maintainAspectRatio]="true" [aspectRatio]="3 / 3" [resizeToHeight]="150" format="png" (imageCropped)="imageProfileCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                                            (loadImageFailed)="loadImageFailed()" [imageBase64]="imageBase64String"></image-cropper>
                                        <!-- <button type="button" class="btn btn-sm btn-primary" (click)="crop()">Crop</button> -->
                                        <img [src]="croppedProfileImage" />
                                        <div *ngIf="submitted && f.profile.errors" class="invalid-feedback">
                                            <div *ngIf="f.profile.errors.required">Please upload your profile</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>location</label>
                                        <input type="text" formControlName="location" [(ngModel)]="branchAdmin.location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
                                        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                                            <div *ngIf="f.location.errors.required">Enter your Age</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button class="btn btn-danger btn-sm mr-1">Register</button>
                                        <button class="btn btn-secondary btn-sm" type="reset" (click)="onReset()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>