<div class="paddTop">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fxSearch">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <div class="example-container mat-elevation-z8">

                    <mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
                        </ng-container>
                        <!-- 
                        <ng-container matColumnDef="phonenumber">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="fxNoend"> Phone Number </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="fxNoend"> {{row.phonenumber}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="alternatenumber">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="fxNoend"> Alternate Number </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="fxNoend"> {{row.alternatenumber}} </mat-cell>
                        </ng-container> -->
                        <ng-container matColumnDef="branchname">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Branch Admin </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.branchname}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="profile">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Profile </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <img class="maxProfile" [src]="row.profile">
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="location">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <ng-container *ngFor="let loc of getLocation">
                                    <ng-container *ngIf="loc.id == row.location">
                                        {{loc.locationName}}
                                    </ng-container>
                                </ng-container>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <div class="buttonToggleSwitch">
                                    <button (click)="changeStatus(row.status,row.id)" [class.activeBtnStatus]="row.status == 0">
                                    Active
                                </button>
                                    <button (click)="changeStatus(row.status,row.id)" [class.activeBtnStatus]="row.status == 1">
                                    De Active
                                </button>
                                </div>
                                <span (click)="editBranchAdmin(row.id)" class="material-icons">edit</span>
                                <span (click)="deleteBranchAdmin(row.id)" class="material-icons">delete</span>
                                <span class="material-icons" (click)="viewdetails(row.id)">preview</span>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a><img src="../../../assets/images/logo.png"></a>
                </div>
                <div class="col-md-3">
                    <h4 class="highlight">STAY CONNECTED</h4>
                    <p>Chenithra Technologies Private Limited, Madipakkam, Ponniamman kovil street, Chennai, 560103, Tamil Nadu, India</p>
                    <p>Call - 044-4201023</p>
                    <p>Mail - info@chenithra.com</p>
                </div>
                <div class="col-md-3">
                    <h4 class="highlight">CONTACT</h4>
                    <p>Facebook</p>
                    <p>Twitter</p>
                    <p>Yaaho</p>
                    <p>Youtube</p>
                </div>
                <div class="col-md-3">
                    <h4 class="highlight">POLICY</h4>
                    <p>Return Policy</p>
                    <p>Terms of Use</p>
                    <p>Security</p>
                    <p>Privacy</p>
                    <p>Sitemap</p>
                </div>
            </div>
        </div>
    </section>
    <section class="btmFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    2021 Chenithra Technologies Pvt Ltd. All Rights Reserved.
                </div>
            </div>
        </div>
    </section>
</div>